@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

html{
    font-family: Cairo;
    font-size: 15px;
    overflow: hidden;
}

.bg-left{
    width: 50%;
    height: 150%;
    background-color: #060606;
    z-index: -1;
    left: -10%;
    top: -17%;
    position: absolute;
    rotate: 15deg;
}

.photo-image{
    position: absolute;
    top: 47%;
    left: 46%;
    border-radius: 50px;
    translate: -50% -50%;
    box-shadow: 15px 15px 15px .1px grey;
    width: 350px;

}

.right-aside{
    position: absolute;
    right: 20%;
    top: 10%;
}

.right-aside .p nav , 
.right-aside p nav  {
    color: #0f4fd8;
}

.body .right-aside .p{
    display: flex;
    width: 100px;
    gap: 2em;
}

.body h1{
    position: absolute;
    top: 2%;
    text-shadow: 
        1px 1px .5px white ,
        1px -1px .5px white ,
        -1px 1px .5px white ,
        -1px -1px .5px white ;
    margin-left: -7%;
    justify-self: center;
}

.body .paragraph{
    position: absolute;
    color: white;
    top: 30%;
    left: 13.5%;
    font-size: 20px;
}

.body .edication{
    position: absolute;
    bottom: 20%;
    color: white;
    text-align: right;
    left: 7%;
}

.social{
    text-align: center;
    position: absolute;
    left: 34.5%;
    bottom: 3.5%;
}

.social h4{
    margin-top: -1%;
    margin-bottom: -8%;
    text-shadow: 
        1px 1px .5px white ,
        1px -1px .5px white ,
        -1px 1px .5px white ,
        -1px -1px .5px white ;
}

.social #email{
    text-align: center;
    border: none;
    background-color: #fbfbfb;
    border-radius: 10px;
    transition: all .5s ease;
    font-size: 20px;
    width: 250px;
}

.social #email:hover{
    border: 1px solid blue;
}

@media (max-width:940px){
    .social{
        text-align: center;
        position: absolute;
        left: 30.5%;
        bottom: 3.5%;
    }
    .body .edication{
        position: absolute;
        bottom: 20%;
        color: white;
        text-align: right;
        left: 3%;
        font-size: 13px;
    }
    .body .paragraph{
        position: absolute;
        color: white;
        top: 30%;
        left: 5.5%;
        font-size: 18px;
    }
    .right-aside{
        position: absolute;
        right: 14%;
        top: 10%;
    }
    .photo-image{
        width: 250px;
        box-shadow: none;
    }
}

@media (max-width:700px){
    .bg-left{
        left: 0;
        top: -65%;
        width: 100%;
        position: absolute;
        rotate: 90deg;
    }

    .photo-image{
        position: absolute;
        top: 40%;
        left: 60%;
        border-radius: 50px;
        translate: -50% -50%;
        box-shadow: 0px 15px 15px .1px grey;
        width: 250px;

    }

    .right-aside{
        position: absolute;
        right: 40%;
        top: 50%;
        text-align: center;
    }

    .body h1{
        position: absolute;
        top: 2%;
        color: white;
        text-shadow: none;
        margin-left: 10%;
        font-weight: bold;
    }

    .body .paragraph{
        position: absolute;
        color: white;
        top: 10%;
        left: 32.5%;
        text-align: center;
    }

    .body .edication{
        position: absolute;
        bottom: 35%;
        color: black;
        text-align: center;
        left: 40%;
    }

    .social{
        display: none;
    }
}